/* ================================
        Footer css
================================ */
footer{
    text-align: right;
    line-height: 50pt;
    padding-right: 10pt;
    font-size: rem-calc(25);
    background-color: #0BAADA;
    i{
      color: white;
      text-align: right;
    }
    p{
      font-family: 'Comfortaa', cursive;

    }

}
