div {
  // display: flex;
  // position: relative;
  // text-align: center;

  // div {
  //   img {
  //     display: block;
  //     margin-left: auto;
  //     margin-right: auto;
  //     padding-top: rem-calc(40);
  //   }
  // }

  h1 {
    font-family: 'Comfortaa', cursive;
    // text-align: center;
    font-size: rem-calc(25);
    line-height: rem-calc(30);
    color: #8D8D8D;
  }

  h2 {
    // text-align: center;
    font-family: 'Comfortaa', cursive;
    padding: 0 15pt;
    font-size: rem-calc(25);
    line-height: rem-calc(30);
    color: #8D8D8D;
  }

  // section {
  //   img {
  //     display: block;
  //     margin-left: auto;
  //     margin-right: auto;
  //     width: rem-calc(200);
  //     padding-top: rem-calc(40);
  //   }
  // }
}
