h1{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: rem-calc(48);
  color: #FF9FCC;
  padding: rem-calc(20) 0 0 0;
}
p{
  font-family: 'Open Sans', sans-serif;
  padding: 0 rem-calc(25) 0 rem-calc(25);
  text-align: center;
  font-size: rem-calc(20);
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: rem-calc(200);
  padding-top: rem-calc(40);
}
h3{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  font-size: rem-calc(40);
  color: #0BAADA;
}
