/* ================================
        Forms css
================================ */
#forms {
  background-color: white;

  h1 {
    background-color: white;
    color: #FF9FCC;
    font-size: rem-calc(28);
  }

  div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 10pt;

    p {
      background-color: white;
      color: #0BAADA;
      font-family: 'Comfortaa', cursive;
    }

    img {}
  }
}
