/* ================================
        Variables css
================================ */
//define breakpoints
$sm: 672px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


// Colors
$white: #fff;
$black: #000;
$background: #0BAADA;
